{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | MonitorUser{% endblock %}

{% block panel_title %}Users Info{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/index/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
      <li class="active">
      <strong>UsersInfo</strong>
  </li>
</ol>
{% endblock %}

{% block content %}
	  <div class="row">
	     <div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">All Users Info</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body">
                         <table class="table table-bordered">
                             <thead>
                             <tr>
				 <th>NO</th>
                                 <th>Name</th>
				 <th>Running/Total Clusters</th>
				 <th>Running/Total Containers</th>
				 <th>Register Time</th>
				 <th>Last Login</th>
				 <th>Frequency</th>
				 <th>Detail</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for user in userslist %}
                             <tr>
                                 <td>{{ loop.index }}</td>
                                 <td>{{ user['name'] }}</td>
				 <td>{{ user['clustercnt']['clurun'] }}/{{ user['clustercnt']['clutotal'] }}</td>
				 <td>{{ user['clustercnt']['conrun'] }}/{{ user['clustercnt']['contotal'] }}</td>
				 <td>--</td>
				 <td>--</td>
				 <td>--</td>
                                 <td><a class="btn btn-info" href='/monitor/User/{{ user['name'] }}/clusters/'>Clusters</a></td>
			     </tr>
                             {% endfor %}
                             </tbody>
                         </table>

                     </div>
                 </div>
             </div>
	   </div>
{% endblock %}
