{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | Status{% endblock %}

{% block panel_title %}Workspace VCluster Status{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/dashboard/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
      <li class="active">
      <strong>VClusterStatus</strong>
  </li>
</ol>
{% endblock %}

{% block css_src %}
<link href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/datatables/1.10.11/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/dist/css/modalconfig.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Your Quotas</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                         <table class="table table-bordered">
                             <thead>
                             <tr>
                              {% for quotaname in quotanames %}
                                <th> {{ quotaname }} </th>
                              {% endfor %}
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                {% for quotaname in quotanames %}
                                  {% if quotaname == 'cpu' %}
                                    {% if quotas['cpu'] == '1' %}
                                    <th>{{ quotas['cpu'] }} Core</th>
                                    {% else %}
                                    <th>{{ quotas['cpu'] }} Cores</th>
                                    {% endif %}
                                  {% elif quotaname == 'memory' or quotaname == 'disk' %}
                                    <th>{{ quotas[quotaname] }} MB</th>
                                  {% elif quotaname == 'idletime' %}
                                    <th>{{ quotas[quotaname] }} hours</th>
                                  {% elif quotaname == 'input_rate_limit' or quotaname == 'output_rate_limit'%}
                                    <th>{{ quotas[quotaname] }} kbps</th>
                                  {% elif quotaname == 'data' %}
                                    <th>{{ quotas[quotaname] }} GB</th>
                                  {% else %}
                                    <th>{{ quotas[quotaname] }}</th>
                                  {% endif %}
                                {% endfor %}
			                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
	   </div>

{% for master in allcontainers %}
<div class="row">
	<div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Total Network Statistics @ {{master.split("@")[1]}}</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                         <table class="table table-bordered">
                             <thead>
                             <tr>
                                <th>Total Bytes Sent</th>
                                <th>Total Bytes Received</th>
                                <th>Total Bytes Transefer</th>
                                <th>Network Billings</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                <td id='{{master.split("@")[1]}}_bytes_sent'>--</td>
                                <td id='{{master.split("@")[1]}}_bytes_recv'>--</td>
                                <td id='{{master.split("@")[1]}}_bytes_total'>--</td>
                                <td id='{{master.split("@")[1]}}_net_billings'>--</td>
			                       </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
	   </div>
{% for clustername, clusterinfo in allcontainers[master].items() %}
	  <div class="row">
	     <div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
		      <h3 class="box-title">VCluster Name: {{ clustername }}<strong> @ {{master.split("@")[1]}}</strong></h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                             {% for container in clusterinfo['containers'] %}
                                  <div class="modal inmodal" id='DetailModal_{{master.split("@")[1]}}_{{ container['containername'] }}' tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                          <h4 class="modal-title">{{ container['containername'] }} Billing Detail</h4>
                                          <small class="font-bold">The Detail of the Billing In This Hour<br>Billing = cpu(s) / <span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_cpu_a'>?</span> + mem(MiB) / <span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_mem_b'>?</span> + Disk(MiB) / <span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_disk_c'>?</span> + Ports / <span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_port_d'>?</span>, <a target='_blank' title='How to figure out it?' href='https://unias.github.io/docklet/book/en/billing/billing.html'>See User Guide</a></small>
                                        </div>
                                        <div class="modal-body">
                                          <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>Field</th>
                                                <th>Usage</th>
                                                <th>Cost</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Cpu</td>
                                                <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_cpu_use'>--</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_cpu'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Memory</td>
                                                <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_mem_use'>--</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_mem'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Disk</td>
                                                <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_disk_use'>--</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_disk'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Ports</td>
                                                <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_port_use'>--</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_port'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td colspan="2">Total</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_total'>--</span></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="modal inmodal" id='HistoryDetailModal_{{master.split("@")[1]}}_{{ container['containername'] }}' tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content animated fadeIn">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                          <h4 class="modal-title">{{ container['containername'] }} Total Billing Detail</h4>
                                        </div>
                                        <div class="modal-body">
                                          <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>Field</th>
                                                <th>Cost</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Cpu</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_history_cpu'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Memory</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_history_mem'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Disk</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_history_disk'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Ports</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_history_port'>--</span></td>
                                              </tr>
                                              <tr>
                                                <td>Total</td>
                                                <td><span id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing_history_total'>--</span></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             {% endfor %}
                         <table class="table table-bordered">
                             <thead>
                             <tr>
				                 <th>Node ID</th>
				                 <th>Node Name</th>
                                 <th>IP Address</th>
                                 <th>Status</th>
                                 <th>Running Time</th>
				                 <th>Cpu Usage</th>
				                 <th>Mem Usage</th>
				                 <th>Disk Usage</th>
				                 <th>Total Billing</th>
				                 <th>Billing This Running Hour</th>
				                 <th>Summary</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for container in clusterinfo['containers'] %}
                             <tr>
                                 <td>{{ loop.index }}</td>
                                 <td>{{ container['containername'] }}</td>
                                 <td>{{ container['ip'] }}</td>

                                 {% if clusterinfo['status'] == 'stopped' %}
				 <td><div id='{{master.split("@")[1]}}_{{ container['containername'] }}_state' class="label label-danger">Stopped</div></td>
                                 {% else %}
                                 <td><div id='{{master.split("@")[1]}}_{{ container['containername'] }}_state' class="label label-primary">Running</div></td>
                                 {% endif %}
				 <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_time'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_cpu'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_mem'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{ container['containername'] }}_disk'>--</td>
                                 <td><a role="button" id='{{master.split("@")[1]}}_{{ container['containername'] }}_billing' data-toggle="modal" data-target='#HistoryDetailModal_{{master.split("@")[1]}}_{{ container['containername'] }}'>--</a> <img src='/static/img/bean.png' /></td>
                                 <td ><a role="button" id='{{master.split("@")[1]}}_{{ container['containername'] }}_billingthishour' data-toggle="modal" data-target='#DetailModal_{{master.split("@")[1]}}_{{ container['containername'] }}'>--</a> <img src='/static/img/bean.png' /></td>
				                         <td><a class="btn btn-info btn-xs" href='/vclusters/{{master.split("@")[0]}}/{{ clustername }}/{{ container['containername'] }}/'>Realtime</a></td>
			     </tr>
                             {% endfor %}
                             </tbody>
                         </table>

                     </div>
                 </div>
             </div>
	   </div>

{% endfor %}
{% endfor %}
{% endblock %}

{% block script_src %}

<script src="http://cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.js"></script>
<script src="http://cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.js"></script>
<script src="http://cdn.bootcss.com/datatables-tabletools/2.1.5/js/TableTools.min.js"></script>

<script type='text/javascript'>
function num2human(data)
{
   units=['','K','M','G','T'];
   tempdata = data/1.0;
   //return tempdata;
   for(var i = 1; i < units.length; ++i)
   {
      if( tempdata / 1000.0 > 1)
          tempdata = tempdata/1000.0;
      else
          return tempdata.toFixed(2) + units[i-1];
   }
   return tempdata.toFixed(2) + units[4];
}
   function update_net_stats(url,index)
   {
     $.post(url,{},function(data){
       if(!data.net_stats.bytes_sent)
       {
         $("#"+index+"_bytes_sent").html("--");
         $("#"+index+"_bytes_recv").html("--");
         $("#"+index+"_bytes_total").html("--");
         $("#"+index+"_net_billings").html("--");
         return;
       }
          var bytes_sent = parseInt(data.net_stats.bytes_sent);
          var bytes_recv = parseInt(data.net_stats.bytes_recv);
        $("#"+index+"_bytes_sent").html(num2human(bytes_sent)+"B");
        $("#"+index+"_bytes_recv").html(num2human(bytes_recv)+"B");
        $("#"+index+"_bytes_total").html(num2human(bytes_sent+bytes_recv)+"B");
        $("#"+index+"_net_billings").html(data.net_stats.net_billings);
     },"json");
   }
   function update(url,index)
   {

       $.post(url+"/info/",{},function(data){

            var diskuse = data.monitor.disk_use;
		       	var usedp = diskuse.percent;
            var total = diskuse.total/1024.0/1024.0;
            var used = diskuse.used/1024.0/1024.0;
			      var detail = "("+used.toFixed(2)+"MiB/"+total.toFixed(2)+"MiB)";
		       	$("#"+index+"_disk").html(usedp+"%<br/>"+detail);

            var total = parseInt(data.monitor.basic_info.RunningTime);
            var hour = Math.floor(total / 3600);
            var min = Math.floor(total % 3600 / 60);
            var secs = Math.floor(total % 3600 % 60);
	    console.log(index,hour,min,secs);
            $("#"+index+"_time").html(hour+"h "+min+"m "+secs+"s")
            $("#"+index+"_billing").html(data.monitor.basic_info.billing)
            $("#"+index+"_billingthishour").html(data.monitor.basic_info.billing_this_hour.total)
            $("#"+index+"_billing_total").html(data.monitor.basic_info.billing_this_hour.total)
            if (parseInt(data.monitor.basic_info.billing_this_hour.total) != 0) {
              $("#"+index+"_billing_cpu").html(data.monitor.basic_info.billing_this_hour.cpu)
              $("#"+index+"_billing_cpu_use").html(data.monitor.basic_info.billing_this_hour.cpu_time + " s")
              $("#"+index+"_billing_mem").html(data.monitor.basic_info.billing_this_hour.mem)
              $("#"+index+"_billing_mem_use").html(data.monitor.basic_info.billing_this_hour.mem_use + " MiB")
              $("#"+index+"_billing_disk").html(data.monitor.basic_info.billing_this_hour.disk)
              $("#"+index+"_billing_disk_use").html(data.monitor.basic_info.billing_this_hour.disk_use + " MiB")
              $("#"+index+"_billing_port").html(data.monitor.basic_info.billing_this_hour.port)
              $("#"+index+"_billing_port_use").html(data.monitor.basic_info.billing_this_hour.port_use)
            }
            if(!!data.monitor.basic_info.billing_history)
            {
              $("#"+index+"_billing_history_cpu").html(data.monitor.basic_info.billing_history.cpu);
              $("#"+index+"_billing_history_mem").html(data.monitor.basic_info.billing_history.mem);
              $("#"+index+"_billing_history_disk").html(data.monitor.basic_info.billing_history.disk);
              $("#"+index+"_billing_history_port").html(data.monitor.basic_info.billing_history.port);
            }
            else
            {
              $("#"+index+"_billing_history_cpu").html(0);
              $("#"+index+"_billing_history_mem").html(0);
              $("#"+index+"_billing_history_disk").html(0);
              $("#"+index+"_billing_history_port").html(0);
            }
            $("#"+index+"_billing_history_total").html(data.monitor.basic_info.billing)

            $("#"+index+"_billing_cpu_a").html(data.monitor.basic_info.a_cpu)
            $("#"+index+"_billing_mem_b").html(data.monitor.basic_info.b_mem)
            $("#"+index+"_billing_disk_c").html(data.monitor.basic_info.c_disk)
            $("#"+index+"_billing_port_d").html(data.monitor.basic_info.d_port)

		    var state = data.monitor.basic_info.State;
		    if(state == 'RUNNING')
       		{
           	    var tmp = $("#"+index+"_state");
                    tmp.removeClass();
	            tmp.addClass("label label-primary");
	   	    tmp.html("Running");
		    $("#"+index+"_pid").html(data.monitor.basic_info.PID);
		    $("#"+index+"_ip").html(data.monitor.basic_info.IP);
       		}
       		else if(state == 'STOPPED')
       		{
           	    var tmp = $("#"+index+"_state");
           	    tmp.removeClass();
	   	    tmp.addClass("label label-danger");
	   	    tmp.html("Stopped");
		    $("#"+index+"_pid").html('--');
		    $("#"+index+"_ip").html('--');
		    $("#"+index+"_cpu").html('--');
		    $("#"+index+"_mem").html('--');
		    return;
       		}

		       	var usedp = data.monitor.cpu_use.usedp;
                var quota = data.monitor.cpu_use.quota.cpu;
                var quotaout = "("+quota;
                if(quota == 1)
                    quotaout += " Core)";
                else
                    quotaout += " Cores)";
		       	$("#"+index+"_cpu").html((usedp/0.01).toFixed(2)+"%<br/>"+quotaout);

		       	var usedp = data.monitor.mem_use.usedp;
			var unit = data.monitor.mem_use.unit;
			var quota = data.monitor.mem_use.quota.memory/1024.0;
			var val = data.monitor.mem_use.val;
			var out = "("+val+unit+"/"+quota.toFixed(2)+"MiB)";
		       	$("#"+index+"_mem").html((usedp/0.01).toFixed(2)+"%<br/>"+out);

       		},"json");
   }

   function updateAll()
   {
        var host = window.location.host;
        //var url0 = "http://" + host + "/monitor/vnodes/";

	{% for master in allcontainers %}
	url = "http://" + host + "/monitor/" + '{{master.split("@")[0]}}' + "/user/net_stats/";
  update_net_stats(url,'{{master.split("@")[1]}}')
 	{% for clustername, clusterinfo in allcontainers[master].items() %}
	{% for container in clusterinfo['containers'] %}
	//url = url0 + '{{ container['containername'] }}';
	url = "http://" + host + "/monitor/" + '{{master.split("@")[0]}}' + "/vnodes/" + '{{container["containername"]}}' ;
	update(url,'{{master.split("@")[1]}}_{{ container['containername'] }}');
	{% endfor %}
	{% endfor %}
	{% endfor %}
   }
   updateAll()
   setInterval(updateAll,5000);

</script>
{% endblock %}
