{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | Status{% endblock %}

{% block panel_title %}Workspace VCluster Status{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/dashboard/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
      <li class="active">
      <strong>VClusterStatus</strong>
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Your Quotas</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                         <table class="table table-bordered">
                             <thead>
                             <tr>
                              {% for quotaname in quotanames %}
                                <th> {{ quotaname }} </th>
                              {% endfor %}
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                {% for quotaname in quotanames %}
                                  {% if quotaname == 'cpu' %}
                                    {% if quotas['cpu'] == '1' %}
                                    <th>{{ quotas['cpu'] }} Core</th>
                                    {% else %}
                                    <th>{{ quotas['cpu'] }} Cores</th>
                                    {% endif %}
                                  {% elif quotaname == 'memory' or quotaname == 'disk' %}
                                    <th>{{ quotas[quotaname] }} MB</th>
                                  {% elif quotaname == 'idletime' %}
                                    <th>{{ quotas[quotaname] }} hours</th>
                                  {% elif quotaname == 'input_rate_limit' or quotaname == 'output_rate_limit'%}
                                    <th>{{ quotas[quotaname] }} kbps</th>
                                  {% elif quotaname == 'data' %}
                                    <th>{{ quotas[quotaname] }} GB</th>
                                  {% else %}
                                    <th>{{ quotas[quotaname] }}</th>
                                  {% endif %}
                                {% endfor %}
			                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
	   </div>

{% for master in allcontainers %}
<div class="row">
	<div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Total Network Statistics @ {{master.split("@")[1]}}</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                         <table class="table table-bordered">
                             <thead>
                             <tr>
                                <th>Total Bytes Sent</th>
                                <th>Total Bytes Received</th>
                                <th>Total Bytes Transefer</th>
                                <th>Network Billings</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr>
                                <td id='{{master.split("@")[1]}}_bytes_sent'>--</td>
                                <td id='{{master.split("@")[1]}}_bytes_recv'>--</td>
                                <td id='{{master.split("@")[1]}}_bytes_total'>--</td>
                                <td id='{{master.split("@")[1]}}_net_billings'>--</td>
			                       </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
	   </div>
{% for clustername, clusterinfo in allcontainers[master].items() %}
	  <div class="row">
	     <div class="col-md-12">
         <div class="box box-info">
              <div class="box-header with-border">
		      <h3 class="box-title">VCluster Name: {{ clustername }}<strong> @ {{master.split("@")[1]}}</strong></h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
                     <div class="box-body table-responsive">

                         <table class="table table-bordered">
                             <thead>
                             <tr>
				                 <th>Node ID</th>
				                 <th>Node Name</th>
                                 <th>IP Address</th>
                                 <th>Status</th>
                                 <th>Running Time</th>
				                 <th>Cpu Usage</th>
				                 <th>Mem Usage</th>
				                 <th>Disk Usage</th>
				                 <th>Total Billing</th>
				                 <th>Billing This Running Hour</th>
				                 <th>Summary</th>
                             </tr>
                             </thead>
                             <tbody>
                             {% for container in clusterinfo['containers'] %}
                             <tr>
                                 <td>{{ loop.index }}</td>
                                 <td>{{ container['containername'] }}</td>
                                 <td>{{ container['ip'] }}</td>

                                 {% if clusterinfo['status'] == 'stopped' %}
				 <td><div id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_state' class="label label-danger">Stopped</div></td>
                                 {% else %}
                                 <td><div id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_state' class="label label-primary">Running</div></td>
                                 {% endif %}
				 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_time'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_cpu'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_mem'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_disk'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_billing'>--</td>
                                 <td id='{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}_billingthishour'>--</td>
				 <td><a class="btn btn-info btn-xs" href='/vclusters/{{master.split("@")[0]}}/{{ clustername }}/{{ container['containername'] }}/'>Realtime</a></td>
			     </tr>
                             {% endfor %}
                             </tbody>
                         </table>

                     </div>
                 </div>
             </div>
	   </div>

{% endfor %}
{% endfor %}
{% endblock %}

{% block script_src %}
<script type='text/javascript'>
function num2human(data)
{
   units=['','K','M','G','T'];
   tempdata = data/1.0;
   //return tempdata;
   for(var i = 1; i < units.length; ++i)
   {
      if( tempdata / 1000.0 > 1)
          tempdata = tempdata/1000.0;
      else
          return tempdata.toFixed(2) + units[i-1];
   }
   return tempdata.toFixed(2) + units[4];
}
   function update_net_stats(url,index)
   {
     $.post(url,{},function(data){
          var bytes_sent = parseInt(data.net_stats.bytes_sent);
          var bytes_recv = parseInt(data.net_stats.bytes_recv);
        $("#"+index+"_bytes_sent").html(num2human(bytes_sent)+"B");
        $("#"+index+"_bytes_recv").html(num2human(bytes_recv)+"B");
        $("#"+index+"_bytes_total").html(num2human(bytes_sent+bytes_recv)+"B");
        //$("#"+index+"_net_billings").html(data.net_stats.billings);
     },"json");
   }
   function update(url,index)
   {

       $.post(url+"/basic_info/",{},function(data){

       		$.post(url+"/disk_use/",{},function(data){
                var diskuse = data.monitor.disk_use;
		       	var usedp = diskuse.percent;
                var total = diskuse.total/1024.0/1024.0;
                var used = diskuse.used/1024.0/1024.0;
			    var detail = "("+used.toFixed(2)+"MiB/"+total.toFixed(2)+"MiB)";
		       	$("#"+index+"_disk").html(usedp+"%<br/>"+detail);
		       	},"json");
            var total = parseInt(data.monitor.basic_info.RunningTime);
            var hour = Math.floor(total / 3600);
            var min = Math.floor(total % 3600 / 60);
            var secs = Math.floor(total % 3600 % 60);
	    console.log(index,hour,min,secs);
            $("#"+index+"_time").html(hour+"h "+min+"m "+secs+"s")
            $("#"+index+"_billing").html("<a target='_blank' title='How to figure out it?' href='https://unias.github.io/docklet/book/en/billing/billing.html'>"+data.monitor.basic_info.billing+" <img src='/static/img/bean.png' /></a>")
            $("#"+index+"_billingthishour").html("<a target='_blank' title='How to figure out it?' href='https://unias.github.io/docklet/book/en/billing/billing.html'>"+data.monitor.basic_info.billing_this_hour+" <img src='/static/img/bean.png' /></a>")

		var state = data.monitor.basic_info.State;
		    if(state == 'RUNNING')
       		{
           	    var tmp = $("#"+index+"_state");
                    tmp.removeClass();
	            tmp.addClass("label label-primary");
	   	    tmp.html("Running");
		    $("#"+index+"_pid").html(data.monitor.basic_info.PID);
		    $("#"+index+"_ip").html(data.monitor.basic_info.IP);
       		}
       		else if(state == 'STOPPED')
       		{
           	    var tmp = $("#"+index+"_state");
           	    tmp.removeClass();
	   	    tmp.addClass("label label-danger");
	   	    tmp.html("Stopped");
		    $("#"+index+"_pid").html('--');
		    $("#"+index+"_ip").html('--');
		    $("#"+index+"_cpu").html('--');
		    $("#"+index+"_mem").html('--');
		    return;
       		}

       		$.post(url+"/cpu_use/",{},function(data){
		       	var usedp = data.monitor.cpu_use.usedp;
                var quota = data.monitor.cpu_use.quota.cpu;
                var quotaout = "("+quota;
                if(quota == 1)
                    quotaout += " Core)";
                else
                    quotaout += " Cores)";
		       	$("#"+index+"_cpu").html((usedp/0.01).toFixed(2)+"%<br/>"+quotaout);
		       	},"json");

       		$.post(url+"/mem_use/",{},function(data){
		       	var usedp = data.monitor.mem_use.usedp;
			var unit = data.monitor.mem_use.unit;
			var quota = data.monitor.mem_use.quota.memory/1024.0;
			var val = data.monitor.mem_use.val;
			var out = "("+val+unit+"/"+quota.toFixed(2)+"MiB)";
		       	$("#"+index+"_mem").html((usedp/0.01).toFixed(2)+"%<br/>"+out);
		       	},"json");

       		},"json");
   }

   function updateAll()
   {
        var host = window.location.host;
        //var url0 = "http://" + host + "/monitor/vnodes/";

	{% for master in allcontainers %}
	url = "http://" + host + "/monitor/" + '{{master.split("@")[0]}}' + "/user/net_stats/";
  update_net_stats(url,'{{master.split("@")[1]}}')
 	{% for clustername, clusterinfo in allcontainers[master].items() %}
	{% for container in clusterinfo['containers'] %}
	//url = url0 + '{{ container['containername'] }}';
	url = "http://" + host + "/monitor/" + '{{master.split("@")[0]}}' + "/vnodes/" + '{{container["containername"]}}' ;
	update(url,'{{master.split("@")[1]}}_{{clustername}}_{{ loop.index }}');
	{% endfor %}
	{% endfor %}
	{% endfor %}
   }
   updateAll()
   setInterval(updateAll,5000);

</script>
{% endblock %}
