{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | Node Summary{% endblock %}

{% block panel_title %}Summary for <div id='node_name'>{{ node_name }}</div>{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/dashboard/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
  <li>
      <a href='/vclusters/'>VClusterStatus</a>
  </li>
  <li class="active">
      <strong>Summary</strong>
  </li>
</ol>
{% endblock %}

{% block css_src %}
<link href="/static/dist/css/flotconfig.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
<div class="box box-info">
     <div class="box-header with-border">
       <h3 class="box-title">Current Status of {{ container['Name'] }}</h3>

       <div class="box-tools pull-right">
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
         </button>
         <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
       </div>
     </div>
            <div class="ibox-body table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>State</th>
                        <th>IP Address</th>
                        <th>Running Time</th>
                        <th>CPU Usage</th>
                        <th>Mem Usage</th>
                        <th>Disk Usage</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% if container['State'] == 'STOPPED' %}
                        <td id='con_state'><div class="label label-danger">Stopped</div></td>
                        <td id='con_ip'>--</td>
                        {% else %}
                        <td id='con_state'><div class="label label-primary">Running</div></td>
                        <td id='con_ip'>{{ container['IP'] }}</td>
                        {% endif %}
                        <td id='con_time'>{{ container['RunningTime'] }}s</td>
                        <td id='con_cpu'>--</td>
                        <td id='con_mem'>--</td>
                        <td id='con_disk'>--</td>
                      </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <div class="box box-info">
           <div class="box-header with-border">
             <h3 class="box-title">Memory Used(%):</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
            <div class="box-body">

                <div class="flot-chart">
                    <div class="flot-chart-content" id="mem-chart"></div>
                </div>
            </div>
        </div>
    </div>
		<div class="col-lg-6">
      <div class="box box-info">
           <div class="box-header with-border">
             <h3 class="box-title">CPU Used(%):</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
            <div class="box-body">

                <div class="flot-chart">
                    <div class="flot-chart-content" id="cpu-chart"></div>
                </div>
            </div>
        </div>
     </div>
  </div>
{% endblock %}

{% block script_src %}

<!-- Flot -->
<script src="//cdn.bootcss.com/flot/0.8.3/jquery.flot.js"></script>
<script src="//cdn.bootcss.com/flot.tooltip/0.8.6/jquery.flot.tooltip.min.js"></script>
<script src="//cdn.bootcss.com/flot/0.8.3/jquery.flot.resize.js"></script>
<script src="//cdn.bootcss.com/flot/0.8.3/jquery.flot.pie.min.js"></script>
<script src="//cdn.bootcss.com/flot/0.8.3/jquery.flot.time.min.js"></script>

<script src="/static/js/plot_monitor.js"></script>

{% endblock %}
