{% extends "base_AdminLTE.html"%}
{% block title %}Docklet | Admin{% endblock %}

{% block panel_title %}Admin{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/dashboard/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
  <li class="active">
      <strong>Admin</strong>
  </li>
</ol>
{% endblock %}

{% block css_src %}

<link href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/datatables/1.10.11/css/jquery.dataTables_themeroller.css" rel="stylesheet">
<link href="/static/dist/css/modalconfig.css" rel="stylesheet">

{% endblock %}


{% block content %}
<div class="row">
 <div class="col-md-12">
     <div class="box box-info">
         <div class="box-header with-border">
             <h3 class="box-title">Quota</h3>

             <div class="box-tools pull-right">
                 <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                 </button>
             </div>
         </div>
         <div class="box-body">
             <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddGroupModal"><i class="fa fa-plus"></i> Add Quota Group</button>
           <div class="modal inmodal" id="AddGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog">
               <div class="modal-content animated fadeIn">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <i class="fa fa-laptop modal-icon"></i>
                           <h4 class="modal-title">Add Group</h4>
                           <small class="font-bold">Add a group to Docklet</small>
                       </div>
                       <div class="modal-body">

                            <form action="/group/add/" method="POST" id="addGroupForm">
                              <div class="form-group">
                                <label>Group Name</label>
                                <input type = "text" placeholder="Enter GroupName" class="form-control" name="name" id="mymyname">
                              </div>
                            <div class="form-group">
                              <label>CPU Quota</label>
                              <input type = "text" placeholder="Enter CPU Quota" class="form-control" name="cpu" id="myCpu" value="100000">
                            </div>
                            <div class="form-group">
                              <label>Memory Quota</label>
                              <input type="text" placeholder="Enter Memory Quota" class="form-control" name="memory" id="myMemory" value="2000">
                            </div>
                            <div class="form-group">
                              <label>Image Quantity</label>
                              <input type = "text" placeholder="Enter Image Quantity" class="form-control" name="image" id="myImage" value="10">
                            </div>
                            <div class="form-group">
                              <label>Life Cycle</label>
                              <input type = "text" placeholder="Enter Life Cycle" class="form-control" name="lifecycle" id="myLifecycle" value="24">
                            </div>

                            </form>

                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-primary" onClick="javascript:sendAddGroup();">Submit</button>
                       </div>
                   </div>
               </div>
           </div>
         <table id="myGroupTable" class="table table-striped table-bordered">
           <thead>
               <tr>
                   <th>Name</th>
                   <th>CPU</th>
                   <th>Memory</th>
                   <th>ImageQuantity</th>
                   <th>LifeCycle</th>
                   <th>Command</th>
               </tr>
           </thead>
           <tbody>
           </tbody>
           <div class="modal inmodal" id="ModifyGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog">
               <div class="modal-content animated fadeIn">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                           <i class="fa fa-laptop modal-icon"></i>
                           <h4 class="modal-title">Modify Group</h4>
                           <small class="font-bold">Modify a group in Docklet</small>
                       </div>
                       <div class="modal-body">
                         <form action="/group/modify/" method="POST" id="modifyGroupForm">
                            <div class="form-group">
                              <label>Group Name</label>
                              <input type = "text" placeholder="Enter Groupname" class="form-control" name="groupname" id="mGroupname" readonly="readonly">
                            </div>
                            <div class="form-group">
                              <label>CPU Quota</label>
                              <input type = "text" placeholder="Enter CPU Quota" class="form-control" name="cpu" id="mCpu">
                            </div>
                            <div class="form-group">
                              <label>Memory Quota</label>
                              <input type="text" placeholder="Enter Memory Quota" class="form-control" name="memory" id="mMemory">
                            </div>
                            <div class="form-group">
                              <label>Image Quantity</label>
                              <input type = "text" placeholder="Enter Image Quantity" class="form-control" name="image" id="mImage">
                            </div>
                            <div class="form-group">
                              <label>Life Cycle</label>
                              <input type = "text" placeholder="Enter Life Cycle" class="form-control" name="lifecycle" id="mLifecycle">
                            </div>
                          </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-primary" onClick="javascript:sendModifyGroup();">Submit</button>
                       </div>
               </div>
               </div>
           </div>
         </table>
       </div>
     </div>
 </div>
</div>

{% endblock %}

{% block script_src %}
<script src="//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
      var gTable = $('#myGroupTable').dataTable({
        "ajax": {
              "url": "/group/detail/",
              "type": "POST"
          },
      //"scrollX": true,
      "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    return '<a class="btn btn-xs btn-info" data-toggle="modal" data-target="#ModifyGroupModal" onClick="javascript:setFormGroup('+ "'" + row[0] + "'" + ');">' + 'Edit' + '</a>'
                        + '&nbsp;' +'<a class="btn btn-xs btn-danger" href="/group/delete/'  + row[0]  +'">' + 'Delete' + '</a>';
                },
                "targets": 5 
            },
          ]

      });
    });
    function sendAddGroup(){
        document.getElementById("addGroupForm").submit();
    }
    function sendModifyGroup(){
        document.getElementById("modifyGroupForm").submit();
    }
    function setFormGroup(arg){
      $.post("/group/query/",
      {
        name: arg
      },
      function(data,status){
        var result = eval("("+data+")").data;
        $("#mGroupname").val(result.name);
        $("#mCpu").val(result.cpu);
        $("#mMemory").val(result.memory);
        $("#mImage").val(result.imageQuantity);
        $("#mLifecycle").val(result.lifeCycle);
      });
    }
</script>
{% endblock %}
