<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Docklet | Home</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico">

		<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">

		<style type="text/css">
		a.linkbtn, a.linkbtn:visited, a.linkbtn:active{
		color:white;
		padding:8px;
		}

		a.linkbtn:hover{
			color:white;
			text-decoration:none;
			border-bottom: 1px solid white;

		}
		.navbar-custom-top{
			background:transparent;
			position:absolute;
			z-index:1030;
			left:0px;
			right:0px;
		}
		</style>

	</head>

	<body>
		<div class="navbar navbar-custom-top" role="navigation">
			<div class="container">
				<div class="row" style="font-size:16px; color:white; padding:16px">
					<div class="pull-right" >
						<a class="linkbtn" href="http://docklet.unias.org/docklet-book/userguide/_book/">Document</a>
						&centerdot;
						<a class="linkbtn" href="/login/" >Sign In</a>
					</div>
					<div>
						<a class="linkbtn" href="http://docklet.unias.org"><strong>Docklet Cloud OS</strong></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="box-shadow:0px 2px 10px 0px black">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="/static/img/home/cloud.png" alt="Cloud OS" style="min-height:600px">
					<div class="container">
						<div class="carousel-caption">
							<h1>Cloud OS</h1>
							<p class="lead">Cloud OS for your cloud Apps.</p>
							<br>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="/static/img/home/workspace.png" alt="Cloud Workspace" style="min-height:600px">
					<div class="container">
						<div class="carousel-caption">
							<h1>Cloud Workspace</h1>
							<p class="lead">Workspace in cloud, all your work in cloud.</p>
							<br>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div><!-- /.carousel -->

		<div class="container" style="margin-top:60px">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<h2>Workspace=Cluster+Service+Data</h2>
					<br/>
					<p class="lead">Package service and data based on virtual cluster as virtual compute environment for your work.
					<br> This is your Workspace !</p>
				</div>
				<div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<img src="/static/img/home/app-workspace.png" alt="feature-workspace" width="100%">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<img src="/static/img/home/app-dist.png" alt="feature-app" width="100%">
				</div>
				<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<h2>Click and Go</h2>
					<br/>
					<p class="lead">Distributed or single node ? Never mind !
					Click it just like start an app on your smart phone, and your workspace is ready for you.</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-1 col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<h2>All in Web</h2>
					<br/>
					<p class="lead">All you need is a web browser. Compute in web, code in web, plot in web, anything in web !
					You can get to work anytime and anywhere by internet.</p>
				</div>
				<div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
					<img src="/static/img/home/app-web.png" alt="feature-web" width="100%">
				</div>
			</div>
			<hr>

			<footer>
				<p class="pull-right">Powered by <a href="http://docklet.unias.org" style="color:blue">Docklet</a></p>
				<p>&copy; SEI, PKU</p>
			</footer>

		</div>

		<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>
