{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | Failed{% endblock %}

{% block panel_title %}Failed{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <strong><i class="fa fa-dashboard"></i>Home</strong>
  </li>
      <li class="active">
      <strong>Failed</strong>
  </li>
</ol>
{% endblock %}
{% block content %}
<div class="ibox-content text-center p-md">
	<h1>Failed</h1>
	<br/>
	<br/>
	<a href="/dashboard/"><span class="btn btn-w-m btn-success">Click Here Back To The Workspace</span></a>
</div>
{% endblock %}
