{% extends 'base_AdminLTE.html' %}

{% block title %}Docklet | Confirm{% endblock %}

{% block panel_title %}Confirm{% endblock %}

{% block css_src %}
.hide { display:none; }
{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <strong><i class="fa fa-dashboard"></i>Home</strong>
  </li>
      <li class="active">
      <strong>Confirm</strong>
  </li>
</ol>
{% endblock %}


{% block content %}
<div class="box-body text-center p-md">
<form action="/workspace/save/{{ clustername }}/{{ containername }}/force/" method="POST">
	<label>Image:</label>
	<input type="text" name="ImageName" id="ImageName" readonly="true" value="{{ image }}"/>
	<label> exists, are you sure to overwrite it?</label>
	<div class="hide"><input type="text" name="description" id="description" readonly="true" value="{{ description }}"/></div>
	<br/>
	<button type="submit" class="btn btn-warning">Yes</button>
	<a href="/config/"><button type="button" class="btn btn-success">No</button></a>
</form>
</div>
{% endblock %}
