{% extends "base_AdminLTE.html"%}
{% block title %}Docklet | Batch Job{% endblock %}

{% block panel_title %}Batch Job{% endblock %}

{% block panel_list %}
<ol class="breadcrumb">
  <li>
      <a href="/dashboard/"><i class="fa fa-dashboard"></i>Home</a>
  </li>
  <li class="active">
      <strong>Batch Job</strong>
  </li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
         <div class="col-lg-12">
           <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Batch Job List</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                 <div class="box-body">

					 <p>
					 <a href="/batch_job/create/"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create Batch Job</button></a>
					 </p>

                 </div>
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Tasks</th>
                            <th>Operations</th>
                            <th>Running Time</th>
                        <tr>
                    <thead>
                 </table>
             </div>
         </div>
	</div>

{% endblock %}
{% block script_src %}

<script type="text/javascript">
function sendAdd(){
    document.getElementById("addForm").submit();
}
function sendDel(){
    document.getElementById("delForm").submit();
}
</script>
{% endblock %}
